main {
  /* margin-top: -5vh; */
  background-color: #fff3da;
  /* background-color: #fff3da; */
  height: 74vh;
  /* width: 80vw; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 5vw; */
  /* justify-content: center; */
  /* align-items: center; */
}

section {
  /* margin-top: 5vh; */
  display: flex;
  width: 85vw;
  /* height: 25vh; */
  position: relative;
  /* border: 2px solid black; */
  /* box-shadow: 3px 3px 3px 3px black; */
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  background-color: #fff3da;
  justify-content: center;
  position: relative;
}

p {
  text-align: center;
}

.prof-img {
  margin-top: 5vh;
  width: 15vw;
  height: 15vh;
}

span {
  text-align: center;
  margin-left: 50vw;
  text-align: center;
  border: 2px solid black;
  width: 10vw;
  height: 7vh;
}

.prof-books {
  width: 5vw;
  height: 5vh;
  margin-top: 5vh;
  background-color: lightgray;
  margin-top: -0.01vh;
  margin-left: 1vw;
}
