.navigation {
  width: 97.5vw;
  height: 12vh;
  border-top: 2px solid black;
  box-shadow: 0 0 3px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff3da;
}

.nav-img {
  width: 11vw;
  height: 11vh;
}

[alt="bookmark"] {
  background-color: lightgrey;
}
